.ant-input-affix-wrapper,
.ant-input {
  border-radius: 5px;
  min-height: 30px;
  padding: 0px;
  &:focus {
    box-shadow: 0 0 0 2px rgba($primary, 0.2);
    border-color: $primary;
  }
}

.ant-input::-webkit-scrollbar { 
    width: 2px; 
    height: 100%; 
    background-color: '#fefefe99'; 
    z-index: 0;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {
  &:hover {
    border-color: $primary;
  }
}

// .ant-input-affix-wrapper > input.ant-input{
//     padding-left: 30px;
// }

.ant-form-item-has-success.ant-form-item-has-feedback
  .ant-form-item-children-icon {
  color: $primary;
}

.ant-input-prefix {
  padding: 0px 6px 0px 10px;
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    @include bg-border-color($primary, $primary);
  }
}

.ant-form-item-label {
  text-align: left;
}

.form-ant-items {
  .ant-input {
    padding-left: 15px !important;
  }
}
.ant-input {
  &:placeholder-shown {
    text-transform: capitalize;
  }
}

.ant-form-item-label {
  text-transform: capitalize;
  min-width: 100% !important;
}

.ant-form-item-control {
  min-width: 100% !important;
}

.ant-progress-steps-item-active {
  background: $primary;
}

.ant-progress-steps-outer {
  margin-bottom: 15px;
}

.ant-input:hover {
  border-color: $primary !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: $primary !important;
  box-shadow: none !important;
}
