.recipe-container {
    
}

.title-image {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.recipe-container h1 {
    font-size: 3rem;
    text-align: center;
}

.food-container {
    padding: 0 200px;
}

.food-container .ant-col {
    padding: 0 20px !important;
}

.recipe-detail {
}

.dish-name {
    text-align: left !important;
}

.recipe-time {
    padding: 1.5rem;
    background-color: #f5f6ea;
    margin: 3rem 0;
    width: 600px;
}

.recipe-time-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
}

.time-title {
    font-weight: bold;
}

.ingredient-list {
    margin: 1.25rem 0 1.25rem 1rem;
}

.ingredient-list>li {
    margin-bottom: 1rem;
}

.step-container {
    width: 600px;
}

.step-list li {
    margin-bottom: 1rem;
}

.nutrition-container table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.nutrition-container table tbody {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
    max-width: 18.25rem;
}

.nutrition-container table tbody tr {
    flex-grow: 1;
    width: calc(50% - 1rem);
    max-width: 8.625rem;
}